.header_0-454 {
  width: 1156px;
  height: 94px;
}
:host {
  display: block;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

.box_0-455 {
  display: flex;
}

.content_0-456 {
  width: 1092px;
  height: 36px;
}
.right_0-457 {
  width: 269px;
  height: 36px;
}
.profile_0-458 {
  width: 36px;
  height: 36px;
}
.box_0-459 {
  display: flex;
}

.image_0-460 {
  display: flex;
}

.calender_0-461 {
  width: 123px;
  height: 22px;
}
.text-19-may-2022_0-462 {
  color: #1c1d227f;
  font-size: 16px;
  font-family: Exo 2;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
  width: 93px;
  height: 16px;
}

.icon_0-463 {
  position: relative;
  width: 22px;
  height: 22px;
}

.notifications_0-464 {
  width: 22px;
  height: 22px;
}
.icon_0-465 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.icon_0-466 {
  top: 2px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.badge_0-467 {
  display: flex;
}

.search_0-468 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.icon_0-469 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-welcome-back--vincent---_0-470 {
  color: #1c1d22;
  font-size: 20px;
  font-family: Exo 2;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
  width: 242px;
  height: 20px;
}
