<div class="p-3">
  <h2 *ngIf="data?.isEditing" class="mb-3">
    Editar Lembrete {{ data?.jobApplication?.jobName ? 'para ' + data?.jobApplication?.jobName : '' }}
  </h2>
  <h2 *ngIf="!data?.isEditing" class="mb-3">
    Novo Lembrete {{ data?.jobApplication?.jobName ? 'para ' + data?.jobApplication?.jobName : '' }}
  </h2>

  <form [formGroup]="reminderForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Título</label>
      <input type="text" id="title" formControlName="title" class="form-control" placeholder="Título do lembrete">
      <div class="text-danger" *ngIf="reminderForm.controls['title'].invalid && reminderForm.controls['title'].touched">
        Título é obrigatório
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Descrição</label>
      <textarea id="description" formControlName="description" class="form-control" rows="3" placeholder="Descrição do lembrete"></textarea>
    </div>

    <div class="mb-3">
      <label for="date" class="form-label">Data</label>
      <input type="datetime-local" id="date" formControlName="date" class="form-control">
      <div class="text-danger" *ngIf="reminderForm.controls['date'].invalid && reminderForm.controls['date'].touched">
        Data é obrigatória
      </div>
    </div>

    <div class="mb-3 form-check" *ngIf="data.isEditing && reminderForm.get('completed')">
      <input type="checkbox" id="completed" formControlName="completed" class="form-check-input">
      <label for="completed" class="form-check-label">Marcar como concluído</label>
    </div>
    <div *ngIf="data.requireJobSelection || (!data.jobApplication && !data.reminder?.jobApplicationId)" class="mb-3">
      <label for="jobApplication" class="form-label">Candidatura</label>
      <select class="form-select" id="jobApplication" formControlName="jobApplicationId">
        <option *ngFor="let app of data.jobApplications" [value]="app.id">
          {{ app.jobName }}
        </option>
      </select>
      <div *ngIf="reminderForm.get('jobApplicationId')?.invalid && reminderForm.get('jobApplicationId')?.touched"
           class="text-danger">
        Por favor, selecione uma candidatura.
      </div>
    </div>

    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="reminderForm.invalid">
        {{ data.isEditing ? 'Atualizar' : 'Salvar' }}
      </button>
    </div>
  </form>
</div>
