<main>
  <section class="forms-section">
        <img src="assets/Logo2.svg">
      <h2>{{title}}</h2>
      <ng-content></ng-content>
      <div class="btn-wrapper app-default-login-layout ">
        <button class="btn-primary"(click)="onSubmit()" [disabled]="disablePrimarybtn" >{{ primaryBtnText }}</button>
        <div class="divider">
          <div></div>
          <span>or</span>
          <div></div>
        </div>
        <button class="btn-secondary" (click)="onNavigate()">{{ secondaryBtnText }}</button>
      </div>
  </section>

  <section class="main-section">
    <h1>Keep Moving Forward! </h1>
    <img src="assets/Web2.svg">
  </section>
</main>
