<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-auto sidebar-col">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col main-content">
      <app-header class="header-fixed"></app-header>

      <div class="container-fluid p-3">
        <div class="row">
          <div class="col-12 col-lg-4 mb-4">
            <div class="card form-card">
              <div class="card-header bg-black text-white">
                <h4 class="mb-0">Registrar Candidatura</h4>
              </div>
              <div class="card-body form-scrollable">
                <app-job-application-form></app-job-application-form>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-8 mb-4">
            <div class="card">
              <div class="card-header bg-black text-white">
                <h4 class="mb-0">Candidaturas Registradas</h4>
              </div>
              <div class="card-body p-0 list-scrollable">
                <app-job-aplication-list></app-job-aplication-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
