<app-default-login-layout
  title="Login into your account"
  primaryBtnText="Login Now"
  secondaryBtnText="Singup Now"
>
  <form [formGroup]="loginForm">
    <app-primary-input
    [formGroup]="loginForm"
    formName="email"
    type="email"
    label="E-mail"
    placeholder="user@gmail.com">
    <img src="../../../assets/Frame-Mail.svg">
    </app-primary-input>
    <app-primary-input
    [formGroup]="loginForm"
    formName="password"
    type="password"
    label="Your Password">
    <img src="/src/assets/Frame-Lock.svg">
    </app-primary-input>
  </form>
</app-default-login-layout>
