:host {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.job-form {
  padding-bottom: 20px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.list-group-item {
  margin-bottom: 10px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-sm {
  margin-right: 5px;
}
h2 {
  margin-bottom: 20px;
}

.list-group-item{
  margin-bottom: 10px;
}
button {
  margin-top: 5px;
}
