<form [formGroup]="jobApplicationForm" (ngSubmit)="onSubmit()" class="job-form">
  <div class="mb-3">
    <label for="jobName" class="form-label">Nome da Vaga</label>
    <input type="text" id="jobName" class="form-control" formControlName="jobName" placeholder="Nome da Vaga">
  </div>
  <div class="mb-3">
    <label for="jobDescription" class="form-label">Empresa</label>
    <input type="text" id="jobDescription" class="form-control" formControlName="jobDescription" placeholder="Empresa ou a descrição da vaga">
  </div>
  <div class="mb-3">
    <label for="jobLink" class="form-label"> Link da Vaga </label>
    <input type="text" id="jobLink" class="form-control" formControlName="jobLink" placeholder="Link da Vaga">
  </div>
  <div class="mb-3">
    <label for="stage" class="form-label">Etapa</label>
    <select id="stage" class="form-select" formControlName="stage">
      <option *ngFor="let stage of stages" [value]="stage">{{ stage }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="status" class="form-label">Status</label>
    <select id="status" formControlName="status" class="form-select">
      <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
    </select>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" id="reminder" formControlName="reminder" class="form-check-input">
    <label for="reminder" class="form-check-label">Adicionar Lembrete?</label>
  </div>
  <div class="mb-3" *ngIf="jobApplicationForm.get('reminder')?.value">
    <label for="reminderDescription" class="form-label">Descrição do Lembrete</label>
    <input type="text" id="reminderDescription" formControlName="reminderDescription" class="form-control" placeholder="Descrição do Lembrete">
    <label for="reminderDate" class="form-label">Data do Lembrete</label>
    <input type="datetime-local" formControlName="reminder" class="form-control">  </div>
  <button type="submit" class="btn btn-primary w-100">Registrar</button>
</form>
