<div class="dashboard-home container">
  <div class="row">
    <div class="col-12">
      <h2>Bem-vindo ao seu Dashboard</h2>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Últimas Candidaturas Registradas
          </div>
          <div class="card-body">
            <ul>
              <li class="list-group-item">Candidatura 1</li>
              <li class="list-group item">Candidatura 2</li>
              <li class="list-group-item">Candidatura 3</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Total de Candidaturas Registradas
          </div>
          <div class="card-body">
            <h3>10</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            Calendário
          </div>
          <div class="card-body">

            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
