.card {
  position: unset;
  z-index: 1;
  transform: none;
}


.card-header button,
.card-header a,
.card-body button,
.card-body a {
  position: unset;
  z-index: 5;
  gap: 5px;
  pointer-events: auto;
}

a.btn,
button.btn {
  position: unset;
  z-index: 10;
  cursor: pointer !important;
}

.chart {
  display: flex;
  width: 100%;
}

.chart-container {
  z-index: 1;
}

.list-group {
  position: unset;
  z-index: 2;
}

.list-group-item {
  position: unset;
  z-index: auto;
  background: #fff;
  overflow: hidden;
}
