.card-header button,
.card-header a,
.card-body button,
.card-body a {
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

a.btn,
button.btn {
  position: relative;
  z-index: 10;
  cursor: pointer !important;
}

.chart {
  display: block;
  width: 100%;
}
