.card-header,
.card-body {
  position: relative;
}

a.btn,
button.btn {
  position: relative;
  z-index: 10;
  cursor: pointer !important;
}

.dashboard-home * {
  pointer-events: auto;
}

.chart {
  display: block;
  width: 100%;
}

.chart-container {
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}
