
.cal-day-cell.cal-has-events {
  background-color: rgba(173, 33, 33, 0.05);
}


.cal-event {
  border: solid 1px !important;
  font-weight: bold !important;
}


.cal-event-title {
  color: #000 !important;
}
