<div class="d-flex flex-column align-items-center flex-shrink-0 bg-white border-end vh-100" style="width: 4.5rem;">
  <a href="/" class="d-block p-3 text-dark text-decoration-none">
    <i class="bi bi-bootstrap-fill fs-3"></i>
  </a>

  <ul class="nav nav-pills flex-column mb-auto w-100 text-center">
    <li>
      <a href="dashbard" class="nav-link active py-3" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-house-door fs-4"></i>
      </a>
    </li>
    <li>
      <a href="dashboard" class="nav-link text-primary py-3" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-speedometer2 fs-4"></i>
      </a>
    </li>
    <li>
      <a href="job-applications" class="nav-link text-primary py-3" title="Candidaturas" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-file-earmark-text fs-4"></i>
      </a>
    </li>
    <li>
      <a href="agendamentos" class="nav-link text-primary py-3" title="Agendamentos" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-app fs-4"></i>
      </a>
    </li>
    <li>
      <a href="notificacoes" class="nav-link text-primary py-3" title="Notificações" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="bi bi-person fs-4"></i>
      </a>
    </li>
    <div class="notification-icon">
      <i class="bi bi-bell" (click)="toggleNotifications()"></i>
      <div class="notification-list-container" *ngIf="showNotifications">
        <app-notification-list></app-notification-list>
      </div>
    </div>
  </ul>
  <div class="dropdown">
    <a href="#" class="d-block p-3" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://cdn-icons-png.flaticon.com/512/147/147142.png" alt="Avatar" class="rounded-circle" width="40" height="40">
    </a>
    <ul class="dropdown-menu dropdown-menu-end text-small">
      <li><a class="dropdown-item" href="#">Configurações</a></li>
      <li><a class="dropdown-item" href="#" (click)="logout()">Sair</a></li>
    </ul>
  </div>
</div>
