.nav-link {
  border-radius: 0;
  padding: 15px 0;
}

.nav-link:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.nav-link.active {
  background-color: #007bff;
  color: white !important;
}

.dropdown {
  margin-top: auto;
}
