.sidebar_0-545 {
  padding: 24px 21px 24px 21px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 168px;
  box-sizing: border-box;
  background: #1c1d22;
  width: 90px;
  height: 1022px;
}
.ovals_0-568 {
  display: flex;
}
.x-3_0-569 {
  display: flex;
}

.x-2_0-570 {
  display: flex;
}

.x-1_0-571 {
  display: flex;
}

.logo_0-565 {
  display: flex;
}
.vector_0-566 {
  display: flex;
}

.vector_0-567 {
  display: flex;
}

.items_0-549 {
  width: 48px;
  height: 407px;
}
.icon_0-550 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.icon_0-551 {
  top: 3px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.icon_0-552 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.icon_0-553 {
  top: 3px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.icon_0-554 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.icon_0-555 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.icon_0-556 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.icon_0-557 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.icon_0-558 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.icon_0-559 {
  top: 2px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.icon_0-560 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.icon_0-561 {
  top: 2px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.box_0-562 {
  display: flex;
}

.icon_0-563 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.icon_0-564 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.icon_0-547 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.icon_0-548 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}
